/*! file: master.css */
html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #000;
	background-color: #f2f2f2;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	-webkit-animation: bugfix infinite 1s;
	font-size: 16px;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

@-webkit-keyframes bugfix {
	from { padding: 0; }
	to { padding: 0; }
}

/* Preload */
.preload * {
  -webkit-transition: none !important;
     -moz-transition: none !important;
	     -o-transition: none !important;
	        transition: none !important;
}

/* Reset */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.os-condensed {
	font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
	text-decoration: none;
}

/* Transition */
.transition-2ms {
	-webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
	     -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

/* ------------------------------------ Header ------------------------------------ */
/* Header stylings */
h1, h2, h3, h4 {
	font-weight: 200;
	margin: 0;
	overflow: hidden;
}
h4 { line-height: 22px; }

/* ------------------------------------ Body ------------------------------------ */
/* --- Chatbox --- */
@-webkit-keyframes gradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
@-moz-keyframes gradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
@-o-keyframes gradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
@keyframes gradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
main {
	position: relative;
	height: 100%;
	padding: 8% 16px;
	background: linear-gradient(135deg, #ffa5a1, #c5afff, #92d8ff);
	background-size: 200% 100%;
	-webkit-animation: gradient 30s ease infinite;
	   -moz-animation: gradient 30s ease infinite;
	     -o-animation: gradient 30s ease infinite;
	        animation: gradient 30s ease infinite;
}
.chatbox {
	width: 100%;
	max-width: 512px;
	height: 100%;
	min-height: 64px;
	margin: 0 auto;
	padding: 16px;
	position: relative;
	background-color: #fff;
	border-radius: 8px;
}
.chatbox > div {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
}
.chatbox > div > .message-container::-webkit-scrollbar {
	-webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
	     -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
  width: 4px;
	height: 1px;
	z-index: 2;
}
.chatbox > div > .message-container::-webkit-scrollbar-track { background: transparent; }
.chatbox > div > .message-container::-webkit-scrollbar-thumb { background: #b3ada7; }

.chatbox > div > .message-container {
	height: calc(100% - 58px);
	overflow-x: hidden;
	padding: 0 16px;
	margin-bottom: 8px;
}

/* --- Messages --- */
.message {
	padding: 8px;
	position: relative;
	min-height: 34px;
	clear: both;
	margin: 8px 0;
	max-width: 80%;
	border-radius: 8px;
	word-wrap: break-word;
}
.message.received {
  	background: #eee;
  	float: left;
}
.message.sent {
	background: #cdebff;
	float: right;
}
.message:after {
	position: absolute;
	content: "";
  display: block;
  top: calc(50% - 4px);
  width: 10px;
  height: 8px;
  -webkit-transform: rotate(29deg) skew(-35deg);
      -moz-transform: rotate(29deg) skew(-35deg);
        -o-transform: rotate(29deg) skew(-35deg);
          transform: rotate(29deg) skew(-35deg);
}
.message.received:after {
	background-color: #eee;
	left: -4px;
}
.message.sent:after {
	background-color: #cdebff;
	right: -4px;
}
.time {
	display: inline-block;
	float: right;
	position: relative;
	color: #00000070;
	font-size: 11px;
	padding: 0 0 0 8px;
	bottom: -4px;
}

/* --- Inputs --- */
.chatbox > div > form {
	position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #eee;
  border-radius: 8px;
  overflow: hidden;
}
.chatbox > div > form > .to-send {
  width: 100%;
  height: 100%;
  padding: 12px 42px 12px 12px;
  border: 0;
  outline: none;
  background-color: inherit;
}

.chatbox > div > form .send {
	position: absolute;
	top: 5px;
  right: 5px;
  width: 32px;
  height: 32px;
  border: none;
	background-color: inherit;
	cursor: pointer;
  background-image: url('/static/assets/images/send.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* --- Tickets --- */
.ticket {
	width: 300px;
	position: relative;
	border-radius: 8px;
	clear: both;
	overflow: hidden;
	border-bottom: 8px solid #c5afff;
	box-shadow: 0px 0px 8px #eee;
}
.ticket > .header {
	padding: 8px;
	background: #c5afff;
	text-align: center;
	color: #fff;
	font-weight: 500;
}
.ticket > ul {
	list-style-type: none;
}
.ticket > ul > li {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px 8px;
}
.ticket > ul > li > span {
	position: relative;
	font-weight: bold;
}
.ticket > ul > li:nth-child(1) > .arrow {
	height: 16px;
	width: 16px;
	margin: 4px;
	color: #00000040;
}

.ticket > ul > li:nth-child(2) {
	background: #eee;
	padding: 30px 16px 16px;
}
.ticket > ul > li:not(:nth-child(1)) > span { min-width: 48px; }
.ticket > ul > li:not(:nth-child(1)) > span:after {
	top: -16px;
	left: 0;
	position: absolute;
	content: attr(data);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
	font-size: 12px;
}
.ticket > ul > li:nth-child(3) { margin-top: 16px; }
.ticket > ul > li:nth-child(3) > span:nth-child(2) {
	min-width: 62px;
	text-align: right;
}

/* --- General --- */
.center { text-align: center; }
.relative { position: relative; }
.bold { font-weight: bold !important;}
.size156 { font-size: 156px; }
.size96 { font-size: 96px; }
.size64 { font-size: 64px; }
.size48 { font-size: 48px; }
.size32 { font-size: 32px; }
.text-indent32 { text-indent: 32px; }
.margin-top-4px { margin-top: 4px; }
.margin-top-16px { margin-top: 16px; }

/* ------------------------------------ Footer ------------------------------------ */
footer { text-align: center; }

/* ------------------------------------ Scaling ------------------------------------ */
@media screen and (max-width: 512px) {
	/* Because screen is already small, set width to 100% of
		its wrapper to prevent them displaying too small within the smaller screen */
	.container { width: 100%; }
}